<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>

    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <!-- Who would you like to start chatting with?<br>
    <select name="Participantes" id="participants-input" class="form-control" id="Participantes" multiple required>
        {% for u in users %}      
            <option value="{{ u }}">{{ u }}</option>
        {% endfor %}
      </select> -->
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            //var roomName = document.querySelector('#participants-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>