body{
    margin:0;

}

.contenedorPaypal{
    position: relative;
    margin-left: 385px;
    border-radius: 20px;
    background:  linear-gradient(180deg, rgb(197, 160, 240) 0%, rgb(188, 174, 245) 50%,  rgb(166, 164, 250) 100%);

}
h1,h3{
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width: 576px) {
.contenedorPaypal{
    position: relative;
    margin-right: 585px;
    border-radius: 20px;
    background:  linear-gradient(180deg, rgb(197, 160, 240) 0%, rgb(188, 174, 245) 50%,  rgb(166, 164, 250) 100%);
}

}



