.payment {
    background: #f8f9fc;
    padding: 30px 0
}

.paypalTable {
    margin-left:20%;
    margin-right:20%;
    padding-bottom: 20px;
    background:#f8f9fc;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: all .3s ease 0s;

}
.title{
    border-radius: 10px;

}

.paypalTable .title {
    padding: 40px 20px 170px;
    margin: 0 0 30px;
    background: rgb(151, 103, 240);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    overflow: hidden;
    font-family: Nunito;
    position: relative
}

.paypalTable .title:after,
.paypalTable .title:before {
    content: "";
    width: 280px;
    height: 200px;
    border-radius: 80px;
    background: #f8f9fc;
    position: absolute;
    bottom: -175px;
    left: -46px;
    transform: rotate(-85deg)
}

.paypalTable .title:after {
    border-radius: 100px;
    bottom: auto;
    top: 150px;
    left: auto;
    right: -70px;
    transform: rotate(-40deg)
}


.paypalTable .price-value {
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 65px;
    border-radius: 50%;
    background: #f8f9fc;
    box-shadow: 0 0 0 8px rgba(77, 16, 177, 0.3);
    padding: 30px 0;
    font-size: 35px;
    font-weight: 600;
    color: rgb(151, 103, 240);
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease 0s
}

.paypalTable:hover .price-value {
    background: rgb(151, 103, 240);
    color: #f8f9fc;
}

.paypalTable .month {
    display: block;
    line-height: 0
}

.paypalTable .pricing-content {
    list-style: none;
    padding:0;
    margin-top: 4vh;
    margin-bottom: 2vh;
    text-align: center;
    transition: all .3s ease 0s
    
}

.paypalTable .pricing-content li {
    padding: 7px 0 7px 50px;
    color: #000;
    letter-spacing: 1px;
    position: relative
}

.paypalTable .pricing-content li:before {
    content: "\f00c";

    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(190,165,222,1);
    color: rgba(153,153,204,1) 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%)
}

.paypalTable .pricing-content li.disable {
    color: #707070
}

.paypalTable .pricing-content li.disable:before {
    display: none
}

.paypalTable .paypalTable-signup {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 30px;
    background: rgb(151, 103, 240);
    color: #404040;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: all .3s ease 0s
}

.paypalTable .paypalTable-signup:hover {
    color: #000
}

.paypalTable .paypalTable-signup:before {
    content: "";
    width: 98%;
    height: 92%;
    border-radius: 30px;
    background: #f8f9fc;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1
}

.paypalTable .paypalTable-signup:hover:before {
    background: 0 0
}




@media only screen and (max-width:990px) {
    .paypalTable6 {
        margin-bottom: 30px
    }
}

@media only screen and (max-width:767px) {
    .paypalTable6 .title:before {
        height: 400px;
        top: 100px;
        left: 55px
    }

    .paypalTable .title:after {
        width: 550px;
        height: 550px;
        top: 150px;
        right: -100px;
        transform: rotate(-20deg)
    }

}

@media only screen and (max-width:480px) {

    .paypalTable .title:after,
    .paypalTable .title:before {
        width: 280px;
        height: 200px;
        top: 220px;
        left: -46px
    }

    .paypalTable .title:after {
        top: 150px;
        left: auto;
        right: -70px
    }

}