.titulo {
    margin-top: 3%;
    text-align: center;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 160, 240);
}
  
.p-form {
    margin: 1%;
    box-shadow: 1px 1px 2px rgb(121, 116, 126);
    background: rgb(242,233,254);
    margin-bottom: 2%;
}
  
.form-foto {
    text-align: center;
}
  
.foto-perfil {
    width: 40%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 1%;
}
  
.head-form {
    border-bottom: 2px solid rgb(197,160,240);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}
  
.head-form-img {
    width: 35px;
    display: block;
    margin-top: 3%;
    border-radius: 50%;
    text-align: left;
}
  
.subtitulo {
    display: block;
    
    margin-left: 5%;
}
  
.botones {
    text-align: center;
    padding: 2%;
}
  
.btn {
    background: rgb(197,160,240);
    border-radius: 15px;
    border: 2px solid rgb(104, 67, 146) ;
    padding: 1.5%;
}
  
@media (min-width: 768px) {
    .parte-dcha {
      float: right;
      width: 50%;
    }
}
  
@media (min-width: 768px) {
    .parte-izqda {
      float: left;
      width: 50%;
    }
}
  
.form-label {
    padding-left: 2%;
    font-weight: bolder;
    margin-top: 2%;
}
  
.errorlist {
    color: #f10606;
}
  
.p-form input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    float: left;
    margin: 0.5em 0.5em 0 0;
    border: 2px solid #ccc;
    background: #fff;
}
  
.p-form input[type=checkbox]:checked + label:before {
    border-color: #0fbf12;
}
  
.p-form input[type=checkbox]:checked + label:after {
    content: "";
    width: 11px;
    height: 6px;
    border: 3px solid #0fbf12;
    float: left;
    margin-left: -1.65em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}
  
.p-form input[type=checkbox] {
    display: none;
}
  
.p-form input[type=checkbox]+label {
    font-weight: bold;
    line-height: 2.2em;
    color: #8f8686;
}
  
.p-form input[type=checkbox]:checked + label {
    color: #0fbf12;
}

.p-form input, .p-form textarea, .p-form select {
    margin: 1%;
    width: 98%;
    padding: 1%;
    background: #f1efef;
    border: 1px solid;
}
    
.p-form input:focus, .p-form textarea:focus, .p-form select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    background: #fff;
    outline-width: 0;
    border-radius: 15px;
}