.titulo {
    margin-top: 3%;
    text-align: center;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom-style: solid;
    border-bottom-color: rgb(197, 160, 240);
}
  
.p-form {
    margin: 1%;
    background: rgb(242,233,254);
    margin-bottom: 2%;
}
  
.form-foto {
    text-align: center;
}
  
.foto-perfil {
    margin-bottom: 1%;
    width:20em;
    height:20em;
    border-radius:100%;
}
  
.head-form {
    border-bottom: 2px solid rgb(197,160,240);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}
  
.head-form-img {
    width: 35px;
    display: block;
    margin-top: 3%;
    border-radius: 50%;
    text-align: left;
}
  
.subtitulo {
    display: block;
    
    margin-left: 5%;
}
  
.botones {
    text-align: center;
    padding: 2%;
}
  

  
@media (min-width: 768px) {
    .parte-dcha {
      float: right;
      width: 50%;
    }
}
  
@media (min-width: 768px) {
    .parte-izqda {
      float: left;
      width: 50%;
    }
}
  
.form-label {
    padding-left: 2%;
    font-weight: bolder;
    margin-top: 2%;
}
  
.errorlist {
    color: #f10606;
}

/*-----------------------------------------------------------------------------------------------------*/

div.ckbox div label{
    margin: 4px;
    background-color: #c4f3cc;
    border: 1px solid rgb(80, 107, 85);
    overflow: hidden;
}
  
div.ckbox div label{
    text-align: center;
    padding: 3px 0;
    
}
  
div.ckbox div label input {
    position: absolute;
    display: none;
    color: #fff
}
  /* selects all of the text within the input element and changes the color of the text */
 div.ckbox div label input {color: #fff;}
  
  
 /* This will declare how a selected input will look giving generic properties */
div.ckbox div label input:checked{
      color: #000000;
      text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}

/*-----------------------------------------------------------------------------------------------------*/
.btn, .btn-primary {
    margin-top: 0.25rem;
}

#boton1 {
    margin-right: 0.25rem;
}

.p-form input[type="text"], .p-form input[type="password"], .p-form textarea, .p-form select {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #673AB7;
    background: #fff;
    outline-width: 0;
    border-radius: 15rem;
    margin: 1%;
    width: 98%;
    padding: 1%;

    
}

/*css del modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 5px; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.logo {
    width: 50px;
    top: 30px;
}
.logoCentrado{
    width: 100px;
    top: 14px;
    margin-left: auto;
    margin-right: auto;
}  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    margin-top: 15%;
}

.ventanaEmergente{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    top: 30%;
    left: 30%;
    padding: 2%;

    
}

.close{
    font-size:30px;
}