/*@charset "utf-8";*/

body{
    /*background-color: #fff;*/
    /*margin-top:20px;*/
    position: relative;
    overflow-y:hidden;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 2%;
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    /*box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);*/

}
.chat-app .people-list {
    /*background: linear-gradient(180deg, rgb(166, 164, 250) 0%, rgb(188, 174, 245) 50%, rgb(197, 160, 240) 100%);*/
    width: 14%;
    height:88%;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    /* margin-top: 5%; */
}
.clearfix{
    background: linear-gradient(180deg, rgb(166, 164, 250) 0%, rgb(188, 174, 245) 50%, rgb(197, 160, 240) 100%);

}

.chat-app .chat {
    margin-left: 14%;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
    margin-top:5%;
}

.people-list .chat-list li:hover {
    background: #9f6bf1;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: rgb(0, 204, 255)
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}
.personasChats {
    margin-top: 5%;
  }
.chat .chat-header {
    padding: 15px 20px;
    border: 4px solid rgb(166, 164, 250) ;
    position: sticky;
}

.botonesMensaje{
    position: sticky;
    bottom: 0;
    position: fixed;
    width:100%;
    padding-bottom: 5px;
    background-color: rgb(0, 38, 255);

}
.cuadroTexto{
    width:90%;
    background-color: #e47297;
}

.name{
    line-height: 40px;
}

.botonEnviar{
    width:10%;
}
.chat-header{
    position: sticky;
    top: 0;
    /*background-color: #e47297;*/
    /*background:  linear-gradient(180deg, rgb(197, 160, 240) 0%, rgb(188, 174, 245) 50%,  rgb(166, 164, 250) 100%);*/

}
.row1{
    position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 5px;
    z-index: 3;
    background-color: rgb(0, 255, 128);

}
.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    /*border-bottom: 2px solid rgb(255, 0, 0);*/
    border-bottom:  linear-gradient(180deg, rgb(197, 160, 240) 0%, rgb(188, 174, 245) 50%,  rgb(166, 164, 250) 100%);
    overflow-y: scroll;
    /*height: 100vh;*/
     height: 75vh; 
}
/*.divDeLosMensajes{
    height: 70vh;
}*/

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0%
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 1.8% 1.8%;
    line-height: 100%;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    /*position: relative*/
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 100;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -20px
}

.chat .chat-history .my-message {
    background: #e0c0d9;
    word-wrap: break-word;
    max-width: 45vh;
}

.chat .chat-history .my-message:after {
    word-wrap: break-word;
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right;
    word-wrap: break-word;
    max-width: 45vh;

}

.chat .chat-history .other-message:after {
    border-bottom-color: #fff;
    left: 93%;
    word-wrap: break-word;
}

.BotonesEnviarChat {
    padding: 1%;
    position: sticky;
    bottom: 0;
    /*float: right;*/
    background-color: #c1a4f1;
    width:90%;
    position:fixed;
}
.chat-message-input{
    width:90%;
}
.chat-message-submit{
    width:7%;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    
    /*bottom:0;*/

}
.clearfix3:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    
    /*bottom:0;*/

}
.clearfix2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;}
    
    /*bottom:0;*/
/*Estilo del formulario de grupos:*/
* {box-sizing: border-box;}*

.open-button {
    float:left;
    background-color: #9f6bf1;
    cursor: pointer;
    color: white;
    padding: 1%;
    border: none;
    /*opacity: 0.8;*/
    position: fixed;
    bottom:0;
    width: 14%;
    /*padding: 3vh;
    position: sticky;
    bottom: 0;
    background-color: #c1a4f1;*/
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid rgb(223, 124, 223);
    background-color: white;
    z-index: 9;
    width: 264px;
    text-align:center;

  }
  
  /* Add styles to the form container */
  .form-container {
    /*max-width: 264px;*/
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ba93fa;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #9f6bf1;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    float:left;
    background-color: rgb(253, 120, 120);
    cursor: pointer;
    color: white;
    padding: 16px 20px;
    border: none;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  .errorlist{
    list-style-type:none;
    color:rgb(153, 0, 255);
    font-size:15px;
    margin:0;
    padding:0;
}