{% block extrahead %}

	<title>Make a Mate</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" href="../../static/assets_base/bootstrap/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/assets_base/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets_base/fonts/fontawesome-all.min.css">
    <script src="../../static/assets_base/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets_base/js/bs-init.js"></script>
    <script src="../../static/assets_base/js/theme.js"></script>
<!--===============================================================================================-->

{% endblock %}
{% block content %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="" class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-34 style="font-family: Nunito">
						<img src="../../static/assets_base/img/Logotipo%20make%20a%20mate.png" style="width: 6rem;height: 6rem text-align: center;">
						Make A Mate
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="Usuario" required style="font-family: Nunito">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="pass" placeholder="Contraseña" required style="font-family: Nunito">
						<span class="focus-input100"></span>
					</div>

					{% if no_user %}
                    <div id="loginFail" class="alert alert-danger" role="alert" style="font-family: Nunito">
                        Usuario o contraseña incorrectos.
                    </div>
               		 {% endif %}
					
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn" style="font-family: Nunito">
							Iniciar Sesión
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">

						<a href="/register" class="txt3" style="font-family: Nunito">
							Registrarse
						</a>
					</div>
				<body>
					<div class="modal fade" id="myModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<img width="50vh" height="50vh" class="logo" src="/static/logotipo.png">
									<h5 class="modal-title" id="exampleModalLabel">Restaurar contraseña</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<p>Si ha olvidado su contraseña y desea cambiarla envíe un correo a la siguiente dirección <a href="mailto:makeamate.soporte@gmail.com?subject=Borrar%20datos">makeamate.soporte@gmail.com</a>.</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-bs-dismiss="modal">De acuerdo</button>
								</div>
							</div>
						</div>
					</div>

				</body>	

					<div class="w-full text-center">¿Has olvidado tu contraseña? Haz click<a style="cursor:pointer; color:blueviolet;" id="boton1" data-bs-toggle="modal" data-bs-target="#myModal3"> aquí</a></div>
					 


				</form>

				<div class="login100-more" style="background-image: url('/static/images/compartir-piso.jpg');"></div>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	{% endblock %}

	{% block extrabody %}
<!--===============================================================================================-->
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>
	{% endblock %}
