{% include "base.html" %}

<style>
[data-custom-class='body'], [data-custom-class='body'] * {
	background: transparent !important;
}

[data-custom-class='title'], [data-custom-class='title'] * {
	font-size: 26px !important;
	color: #000000 !important;
}

[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
	color: #595959 !important;
	font-size: 14px !important;
}

[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
	font-size: 19px !important;
	color: #000000 !important;
}

[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
	font-size: 17px !important;
	color: #000000 !important;
}

[data-custom-class='body_text'], [data-custom-class='body_text'] * {
	color: #595959 !important;
	font-size: 14px !important;
}

[data-custom-class='link'], [data-custom-class='link'] * {
	color: #3030F1 !important;
	font-size: 14px !important;
	word-break: break-word !important;
}
</style>
<link rel="icon" type="image/png" href="/static/images/favicon.ico"/>
<div data-custom-class="body" style="margin: 3%;">
	<div align="center" style="text-align: left; line-height: 1;">
		<div align="center" class="MsoNormal"
			style="text-align: left; line-height: 150%;">
			<div align="center" class="MsoNormal"
				style="text-align: center; line-height: 150%;">
				<a name="_2cipo4yr3w5d"></a>
				<div align="center" class="MsoNormal" style="line-height: 22.5px;">
					<div align="center" class="MsoNormal" style="line-height: 150%;">
						<a name="_gm5sejt4p02f"></a>
						<div align="center" class="MsoNormal" data-custom-class="title"
							style="text-align: center; line-height: 1.5;">
							<strong><span
								style="line-height: 22.5px; font-size: 26px;"> <bdt
										class="block-component"></bdt> <bdt class="question">
									POLÍTICA DE PRIVACIDAD</bdt> <bdt class="statement-end-if-in-editor"></bdt>
							</span></strong>
						</div>
						<div align="center" class="MsoNormal"
							style="line-height: 22.5px; text-align: left;">
							<a name="_7m5b3xg56u7y"></a>
							<div style="text-align: left; line-height: 1;">
								<br>
							</div>
							<div style="text-align: left;">
								<div class="MsoNormal" data-custom-class="body_text"
									style="line-height: 1.5;">
									<span> El sitio web de Make a Mate es propiedad de Make
										a Mate, que es el responsable del tratamiento de sus datos
										personales. Hemos adoptado esta Política de Privacidad, que
										determina cómo tratamos la información recogida por Make a
										Mate, que también proporciona las razones por las que debemos
										recoger ciertos datos personales sobre usted. Por lo tanto,
										debe leer esta Política de Privacidad antes de utilizar el
										sitio web de Make a Mate. Cuidamos sus datos personales y nos
										comprometemos a garantizar su confidencialidad y seguridad. </span>
								</div>
							</div>
							<div align="center" style="text-align: left; line-height: 1.5;">
								<br>
							</div>

						</div>
					</div>

					<div class="MsoNormal" data-custom-class="heading_1" id="userdata"
						style="line-height: 1.5; text-align: left;">
						<a name="_ftgg17oha0ep"></a><strong><span
							style="font-size: 19px; text-align: left;"><strong><span
									style="font-size: 19px;"><strong><span
											style="font-size: 19px; text-align: left;"><strong><span
													style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Información
								personal que recogemos:</span></strong>
					</div>
					<div align="center" style="text-align: left; line-height: 1;">
						<br>
					</div>
					<div align="center" style="text-align: left;">
						<div class="MsoNormal" data-custom-class="body_text"
							style="line-height: 1.5;">
							<span> Cuando usted visita el sitio web de Make a Mate,
								recogemos automáticamente cierta información sobre su
								dispositivo, incluyendo información sobre su navegador web,
								dirección IP, zona horaria y algunas de las cookies instaladas
								en su dispositivo. Además, mientras navega por el Sitio,
								recogemos información sobre las páginas web individuales o los
								productos que ve, qué sitios web o términos de búsqueda le han
								remitido al Sitio y cómo interactúa con él. Nos referimos a esta
								información recopilada automáticamente como "Información del
								dispositivo". Además, es posible que recojamos los datos
								personales que nos proporcione (incluidos, entre otros, el
								nombre, los apellidos, la dirección, la información de pago,
								etc.) durante el registro para poder cumplir el acuerdo.</span>
						</div>
					</div>
					<div align="center" style="text-align: left; line-height: 1.5;">
						<br>
					</div>
					<div align="center" style="text-align: left;">
						<div class="MsoNormal">
							<br>
						</div>

						<div class="MsoNormal" data-custom-class="heading_1" id="userdata"
							style="line-height: 1.5; text-align: left;">
							<a name="_ftgg17oha0ep"></a><strong><span
								style="font-size: 19px; text-align: left;"><strong><span
										style="font-size: 19px;"><strong><span
												style="font-size: 19px; text-align: left;"><strong><span
														style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>¿Por
									qué tratamos sus datos?</span></strong>
						</div>
						<div align="center" style="text-align: left; line-height: 1;">
							<br>
						</div>
						<div align="center" style="text-align: left;">
							<div class="MsoNormal" data-custom-class="body_text"
								style="line-height: 1.5;">
								<span> Nuestra máxima prioridad es la seguridad de los
									datos de los clientes y, por ello, sólo podemos procesar un
									mínimo de datos de los usuarios, únicamente en la medida en que
									sea absolutamente necesario para mantener el sitio web. La
									información recopilada automáticamente sólo se utiliza para
									identificar posibles casos de abuso y establecer información
									estadística sobre el uso del sitio web. Esta información
									estadística no se agrega de forma que pueda identificar a
									ningún usuario concreto del sistema. Usted puede visitar el
									sitio web sin decirnos quién es ni revelar ninguna información
									por la que alguien pueda identificarle como un individuo
									concreto e identificable. Sin embargo, si desea utilizar
									algunas de las funciones del sitio web, o si desea recibir
									nuestro boletín de noticias o proporcionar otros datos
									rellenando un formulario, es posible que nos proporcione datos
									personales, como su correo electrónico, nombre, apellidos,
									ciudad de residencia, organización, número de teléfono. Puede
									optar por no facilitarnos sus datos personales, pero entonces
									es posible que no pueda aprovechar algunas de las funciones del
									sitio web. Por ejemplo, no podrá recibir nuestro boletín de
									noticias ni ponerse en contacto con nosotros directamente desde
									el sitio web. Los usuarios que no estén seguros de qué
									información es obligatoria pueden ponerse en contacto con
									nosotros a través de makeamate2022@gmail.com. 
							</div>
						</div>
						<div align="center" style="text-align: left; line-height: 1.5;">
							<br>
						</div>
						<div align="center" style="text-align: left;">
							<div class="MsoNormal">
								<br>
							</div>
							<div class="MsoNormal" data-custom-class="heading_1"
								id="userdata" style="line-height: 1.5; text-align: left;">
								<a name="_ftgg17oha0ep"></a><strong><span
									style="font-size: 19px; text-align: left;"><strong><span
											style="font-size: 19px;"><strong><span
													style="font-size: 19px; text-align: left;"><strong><span
															style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Sus
										derechos:</span></strong>
							</div>
							<div align="center" style="text-align: left; line-height: 1;">
								<br>
							</div>
							<div align="center" style="text-align: left;">
								<div class="MsoNormal" data-custom-class="body_text"
									style="line-height: 1.5;">
									<span> Si usted es residente europeo, tiene los
										siguientes derechos relacionados con sus datos personales:
										<ul>
											<li>Derecho a ser informado.</li>
											<li>Derecho de acceso.</li>
											<li>Derecho de rectificación.</li>
											<li>Derecho de supresión.</li>
											<li>Derecho a restringir el tratamiento.</li>
											<li>Derecho a la portabilidad de los datos.</li>
											<li>Derecho de oposición.</li>
											<li>Derechos en relación con la toma de decisiones
												automatizada y la elaboración de perfiles.</li>
										</ul> Si desea ejercer este derecho, póngase en contacto con
										nosotros a través de los datos de contacto que figuran a
										continuación. Además, si es usted residente en Europa, le
										informamos de que estamos tratando su información para cumplir
										los contratos que podamos tener con usted (por ejemplo, si
										hace un pedido a través del Sitio), o para perseguir nuestros
										intereses comerciales legítimos enumerados anteriormente.
										Además, tenga en cuenta que su información puede ser
										transferida fuera de Europa, incluyendo Canadá y los Estados
										Unidos.
									</span>
								</div>
							</div>
							<div align="center" style="text-align: left; line-height: 1.5;">
								<br>
							</div>
							<div align="center" style="text-align: left;">
								<div class="MsoNormal">
									<br>
								</div>
								<div class="MsoNormal" data-custom-class="heading_1"
									id="userdata" style="line-height: 1.5; text-align: left;">
									<a name="_ftgg17oha0ep"></a><strong><span
										style="font-size: 19px; text-align: left;"><strong><span
												style="font-size: 19px;"><strong><span
														style="font-size: 19px; text-align: left;"><strong><span
																style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Enlaces
											a otros sitios web:</span></strong>
								</div>

								<div align="center" style="text-align: left; line-height: 1;">
									<br>
								</div>
								<div align="center" style="text-align: left;">
									<div class="MsoNormal" data-custom-class="body_text"
										style="line-height: 1.5;">
										<span> Nuestro sitio web puede contener enlaces a otros
											sitios web que no son de nuestra propiedad ni están
											controlados por nosotros. Tenga en cuenta que no somos
											responsables de esos otros sitios web ni de las prácticas de
											privacidad de terceros. Le recomendamos que esté atento
											cuando abandone nuestro sitio web y lea las declaraciones de
											privacidad de cada sitio web que pueda recoger información
											personal. </span>
									</div>
								</div>
								<div align="center" style="text-align: left; line-height: 1.5;">
									<br>
								</div>
								<div align="center" style="text-align: left;">
									<div class="MsoNormal">
										<br>
									</div>


									<div class="MsoNormal" data-custom-class="heading_1"
										id="userdata" style="line-height: 1.5; text-align: left;">
										<a name="_ftgg17oha0ep"></a><strong><span
											style="font-size: 19px; text-align: left;"><strong><span
													style="font-size: 19px;"><strong><span
															style="font-size: 19px; text-align: left;"><strong><span
																	style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Seguridad
												de la información:</span></strong>
									</div>
									<div align="center" style="text-align: left; line-height: 1;">
										<br>
									</div>
									<div align="center" style="text-align: left;">
										<div class="MsoNormal" data-custom-class="body_text"
											style="line-height: 1.5;">
											<span> Aseguramos la información que usted proporciona
												en servidores informáticos en un entorno controlado y
												seguro, protegido del acceso, uso o divulgación no
												autorizados. Mantenemos salvaguardas administrativas,
												técnicas y físicas razonables para proteger contra el
												acceso, el uso, la modificación y la divulgación de datos
												personales no autorizados en su control y custodia. Sin
												embargo, no se puede garantizar la transmisión de datos a
												través de Internet o de una red inalámbrica.</span>
										</div>
									</div>
									<div align="center" style="text-align: left; line-height: 1.5;">
										<br>
									</div>
									<div align="center" style="text-align: left;">
										<div class="MsoNormal">
											<br>
										</div>
										<div class="MsoNormal" data-custom-class="heading_1"
											id="userdata" style="line-height: 1.5; text-align: left;">
											<a name="_ftgg17oha0ep"></a><strong><span
												style="font-size: 19px; text-align: left;"><strong><span
														style="font-size: 19px;"><strong><span
																style="font-size: 19px; text-align: left;"><strong><span
																		style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Divulgación
													legal:</span></strong>
										</div>
										<div align="center" style="text-align: left; line-height: 1;">
											<br>
										</div>
										<div align="center" style="text-align: left;">
											<div class="MsoNormal" data-custom-class="body_text"
												style="line-height: 1.5;">
												<span> Divulgaremos cualquier información que
													recopilemos, utilicemos o recibamos si lo exige o permite
													la ley, como por ejemplo para cumplir con una citación o un
													proceso legal similar, y cuando creamos de buena fe que la
													divulgación es necesaria para proteger nuestros derechos,
													proteger su seguridad o la de otros, investigar un fraude o
													responder a una solicitud del gobierno. 
											</div>
											</span>
										</div>
										<div align="center"
											style="text-align: left; line-height: 1.5;">
											<br>
										</div>
										<div align="center" style="text-align: left;">
											<div class="MsoNormal">
												<br>
											</div>
											<div class="MsoNormal" data-custom-class="heading_1"
												id="userdata" style="line-height: 1.5; text-align: left;">
												<a name="_ftgg17oha0ep"></a><strong><span
													style="font-size: 19px; text-align: left;"><strong><span
															style="font-size: 19px;"><strong><span
																	style="font-size: 19px; text-align: left;"><strong><span
																			style="font-size: 19px; text-align: left;">-</span></strong></span></strong> </span></strong>Información
														de contacto:</span></strong>
											</div>

											<div align="center" style="text-align: left; line-height: 1;">
												<br>
											</div>
											<div align="center" style="text-align: left;">
												<div class="MsoNormal" data-custom-class="body_text"
													style="line-height: 1.5;">
													<span> Si desea ponerse en contacto con nosotros
														para saber más sobre esta Política o desea ponerse en
														contacto con nosotros sobre cualquier asunto relacionado
														con los derechos individuales y su Información Personal,
														puede enviar un correo electrónico a
														makeamate2022@gmail.com. </span>
												</div>
											</div>
											<div align="center"
												style="text-align: left; line-height: 1.5;">
												<br>
											</div>
											<div align="center" style="text-align: left;">
												<div class="MsoNormal">
													<br>
												</div>


												<link rel="stylesheet"
													href="../../static/assets_base/bootstrap/css/bootstrap.min.css">
												<link rel="stylesheet"
													href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap%22%3E">
												<script src="../../static/assets_base/js/bs-init.js">
				
			</script>
												<script src="../../static/assets_base/js/theme.js"></script>


												{% include "footer.html" %}