
{% block extrahead %}
    <title>Register V17</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/css/montserrat-font.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <link rel="stylesheet"  type="text/css" href="/static/css/register.css"/>  
{% endblock %}

{% block content %}
<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="post" id="myform">
				<div class="form-left">
					<h2>Datos personales</h2>
                    <div class="form-group">
						<div class="form-row form-row-1">
                            {{  form.nombre  }} 
						</div>
						<div class="form-row form-row-2">
                            {{  form.apellidos  }} 
						</div>
					</div>
					<div class="form-row form-row-1">
                        {{  form.username  }} 
                    </div>
					<div class="form-row">
                        {{  form.password  }} 
					</div>
                    <div class="form-row">
						{{  form.password2  }} 
					</div>
                    <div class="form-row">
                        <label>Tienes piso  </label>
                        {{  form.piso  }}
					</div>
                    <div class="form-row">
                        {{  form.correo  }}
					</div>
                    <div class="form-row">
                        <label>Fecha de nacimiento </label>
                        {{  form.fecha_nacimiento  }}
					</div>
                   
					<div class="form-group">
						<div class="form-row form-row-3">
                            {{  form.lugar  }}
						</div>
						<div class="form-row form-row-4">
							{{  form.nacionalidad  }}
						</div>
					</div>
				</div>
				<div class="form-right">
					<h2>Datos de interes</h2>
					<div class="form-row">
						<label>Selecciona tu género </label>
                        {{  form.genero  }}
					</div>
					<div class="form-row">
						<label>Pronombre a tu gusto </label>
                        {{  form.pronombres  }}
					</div>
                    <div id = "w"  class="form-row">
						<label>Selecciona tus idiomas  </label>
                        {{  form.idiomas  }}
					</div>
                    <div class="form-row">
						<input type="text" name="company" class="company" id="company" placeholder="Company" required>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="zip" class="zip" id="zip" placeholder="Zip Code" required>
						</div>
						<div class="form-row form-row-2">
							<select name="place">
							    <option value="place">Place</option>
							    <option value="Street">Street</option>
							    <option value="District">District</option>
							    <option value="City">City</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
					</div>
					<div class="form-row">
						<select name="country">
						    <option value="country">Country</option>
						    <option value="Vietnam">Vietnam</option>
						    <option value="Malaysia">Malaysia</option>
						    <option value="India">India</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="code" class="code" id="code" placeholder="Code +" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="your_email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Your Email">
					</div>
					<div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Registrar">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
{% endblock %}