<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/base.css">
  <link rel="stylesheet" href="/static/fonts.css">
</head>
<body class="d-flex flex-column min-vh-100">
  <div class="main">
    <div class="content-all">
      <a href="menu"><img class ="logo" src="/static/logotipo.png"></a>
      <input type="checkbox" id="check">
      <label for="check" class="icon-paragraph-justify"></label>
      <nav class="menu">
        <ul>  
          <br>
          <li class="mover"><div class="foto"> <img src="https://i.imgur.com/uIgDDDd.jpg" alt="img">John Doe</div></li>
          <br><br>
          <li><label for="check" class="icon-bubble2"></label>   Chat</li>
          <li><label for="check" class="icon-stats-dots"></label>   Statistics</li>
          <li><label for="check" class="icon-cart1"></label>   Shop</li>
          <li><label for="check" class="icon-info"></label>   About us</li>
          <a href="{% url 'logout' %}"><li><label class="icon-log-out"></label>   Log-out</li></a>
        </ul>
      </nav>
    </div>
    <div class="container-fluid pt-5 mt-xl-4">
      <div class="row">
          <div class="col-md-8 offset-md-2 text-center">
              {% block content %}{% endblock %}
          </div>
      </div>
    </div>
  </div>
</body>

</html>