</div>
</div>
</div>
<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"style="padding: 3px;"><span>Copyright © Make A Mate 2022</span></div>
        <div class="text-center my-auto copyright" style="padding: 3px;">
            <a class="bg-white" href="/privacidad/" style="text-decoration:none;"><span>Política de privacidad</span></a> <br>
        </div>
        <div class="text-center my-auto copyright" style="padding: 3px;">
            <a class="bg-white" href="/terminos1/" style="text-decoration:none;"><span>Términos y condiciones</span></a><br>
        </div>
    </div>

</footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</body>

</html>
