<!doctype html>
<html lang="en" body id="all">
    <head>
        <link rel="stylesheet" href="/static/style.css">

        {% include "base.html" %}
        {% block content %}
        {% if request.user.is_authenticated %}

        {% for i in usuarios%}
        <br></br>

        {% empty %}
        <h2>No hay usuarios registrados en la aplicación</h2>
        {% endfor %}

        {% endif %}
        {% endblock %}

    </head>
    <body id="all">
        <div>
            {% include "mates.html" %}
        </div>
    </body>
</html>