<!doctype html>
<html lang="en">
    <head>
        {% include "base.html" %}
        {% block content %}
        {% if request.user.is_authenticated %}

        Hola, has iniciado sesión como {{request.user.username}}
        <a class="nav-link" href="/logout">Logout</a>

        {% for i in usuarios%}
        <br></br>

        {% empty %}
        <h2>No hay usuarios registrados en la aplicación</h2>
        {% endfor %}

        {% endif %}
        {% endblock %}

    </head>
    <body>
        <div>
            <br></br>
            <br></br>
            {% include "mates.html" %}
        </div>
    </body>
</html>