{% include "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/info.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
<script src="../../static/assets_base/js/bs-init.js"></script>
<script src="../../static/assets_base/js/theme.js"></script>
{% endblock %}
{% block content %}
<div class="centrar">

    <h1>Sobre nosotros</h1>

    <h2>Make A Mate, una nueva forma de encontrar compañeros de piso</h2>

    <p>¡Hola! Somos el equipo de Make A Mate, un grupo de estudiantes de la <dfn data-info="La Universidad de Sevilla es una universidad pública con sede en Sevilla, Andalucía. Es una de las dos universidades públicas de Sevilla, junto con la Universidad Pablo de Olavide.">Universidad de Sevilla</dfn> dispuestos a resolver los problemas de nuestro entorno.</p>

    <p>Día tras día más estudiantes utilizan múltiples redes sociales para encontrar compañeros de piso. Nuestro objetivo es centralizar todas estas búsquedas en un espacio personal común.</p>

    <p>Pensamos en facilitar encontrar al compañero ideal para cada persona, que comparta <dfn data-info="¡Estos gustos y aficiones vienen dados con las tags que utilizas al registrarte!">gustos y aficiones</dfn> contigo.</p>

    <p>Para más información, podéis contactarnos en nuestro correo electrónico <a class="dfn-hover" href="mailto:makeamate2022@gmail.com"><dfn data-info="¡Haz click para enviar un correo!">makeamate2022@gmail.com</dfn></a></p>

    <p class="pcentro"><a href="https://www.instagram.com/makeamate_es/"><img src="../static/images/insta.png" style="width:42px;height:42px;"></a> <a href="https://twitter.com/makeamate_es"><img src="../static/images/twitter.png" style="width:42px;height:42px;"></a><a href="https://github.com/luctorgom/MakeAMate"><img src="../static/images/github.png" style="width:42px;height:42px;"></a></p>

    
</div>
{% endblock %}
{% include "footer.html" %}

