{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/notifications.css" />
<meta charset="UTF-8">
<title>Notificaciones</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/notifications.css" />
{% endblock %}
{% block content %}
<div class="container">
    <h3 class="m-b-50 heading-line">Notificaciones<i class="fa fa-bell text-muted"></i></h3>
    <div class="notification-ui_dd-content">
        <div class="notification-list notification-list--unread">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>John Doe</b> hizo mate contigo</p>
                    <p class="text-muted">Has hecho mate con John Doe. ¿Por qué no chateas con él?</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list notification-list--unread">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Richard Miles</b> hizo mate contigo</p>
                    <p class="text-muted">Has hecho mate con Richard Miles. ¿Por qué no chateas con él?</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Brian Cumin</b> está interesado en tu perfil</p>
                    <p class="text-muted">¿Quieres darle me gusta a su perfil para hacer mate?</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\cruz.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Lance Bogrol</b> hizo mate contigo</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Parsley Montana</b> hizo mate contigo</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Brian Cumin</b>hizo mate contigo</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
        <div class="notification-list">
            <div class="notification-list_content">
                <div class="notification-list_img">
                    <img src="..\static\logotipo.png" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Lance Bogrol</b> hizo mate contigo</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                    <p class="text-muted"><small>Hace 10 minutos</small></p>
                </div>
            </div>
            <div class="notification-list_feature-img">
                <img src="..\static\images\icons\Choca_esos_5.png" alt="Feature image">
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="#!" class="dark-link">Cargar más...</a>
    </div>

</div>
{% endblock %}
