{% include "base.html" %}
{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pagos</title>
    <link rel="stylesheet" href="../../static/assets_pagos/css/stylesPays.css">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-10 col-lg-11 offset-1 offset-sm-2 offset-md-3 offset-lg-3 offset-xxl-4 d-inline-flex align-items-center align-self-center">
            <h1 class="display-4 fw-normal text-center text-body d-inline-block align-self-center">Más VIP que nunca</h1>
        </div>
    </div>
    <div class="card-group border rounded-pill">
        <div class="card" style="--bs-body-bg: var(--bs-gray-300);filter: brightness(122%) grayscale(17%) hue-rotate(57deg);">
            <div class="card-body text-center">
                <div class="row d-lg-flex justify-content-lg-center align-items-lg-center">
                    <div class="col">
                        <h2 class="text-center border-primary" style="border-right-style: none;">Suscripción 1</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center">Esta es la suscripción no se qué.<br>Vale 20€</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><button class="btn btn-primary text-start border rounded-pill" type="button" style="background: #808080;">Suscríbete</button></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body border-4 align-items-start">
                <div class="row d-lg-flex justify-content-lg-center align-items-lg-center">
                    <div class="col">
                        <h2 class="text-center">Suscripción 1</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center">Esta es la suscripción no se qué.<br>Vale 20€</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><button class="btn btn-primary text-start border rounded-pill" type="button" style="background: #808080;">Suscríbete</button></div>
                </div>
            </div>
        </div>
        <div class="card" id="borde">
            <div class="card-body">
                <div class="row d-lg-flex justify-content-lg-center align-items-lg-center">
                    <div class="col">
                        <h2 class="text-center border-primary">Suscripción 1</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center">Esta es la suscripción no se qué.<br>Vale 20€</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center"><button class="btn btn-primary text-start border rounded-pill" type="button" style="background: #808080;">Suscríbete</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="w-100"></div>
    </div>

{% endblock %}
{% include "footer.html" %}
