{% include "base.html" %}
{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../static/assets_pagos/css/stylesPays.css">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-10 col-lg-11 offset-1 offset-sm-2 offset-md-3 offset-lg-3 offset-xxl-4 d-inline-flex align-items-center align-self-center">
            <h1 class="display-4 fw-normal text-center text-body d-inline-block align-self-center fw-bold">Más VIP que nunca</h1>
        </div>
    </div>
    {%if hay_suscripciones%}
       

            <div class="row" >
                <div class="col offset-0 offset-sm-0 offset-md-0 d-md-flex align-self-center justify-content-md-center align-items-md-center">
                    <div class="card border rounded-circle" style="margin-left: 20%;margin-right: 20%;">
                        <div class="card-body text-center border rounded-circle">
                            <h1 class="text-center border-primary fw-bold" style="border-right-style: none; color: black">{{suscripcion.name}}</h1>
                            <h2 class="text-center border-primary fw-bold" style="border-right-style: none; color: black">{{suscripcion.price}} €</h2>
                            <p class="card-text fw-bold" style="color: black">{{suscripcion.description}}</p>
                            {% if premium %}  
                            <div class="col text-center"><button  class="btn btn-primary text-start border rounded-pill" style="background: #808080;" type="button"><a href="{% url 'home'%}" style="text-decoration:none" ><p style="color: white">Ya eres premium</p></a></button></div>
                             {% else %}
                            <div class="col text-center"><button  class="btn btn-primary text-start border rounded-pill" style="background: #808080;" type="button"><a href="{% url 'paypal' suscripcion.id %}" style="text-decoration:none" ><p class="fw-bold" style="color: white">Consigue premium</p></a></button></div>
                            {% endif %}  
                        </div>
                    </div>
                </div>
            </div>
  
     
        {%else%}
        <div class="row">            
            <div class="col-md-12 col-sm-12">
                <div class="pricingTable">
                    <h3 class="title">Aún no existe ninguna suscripción</h3></div>
             
            </div>
        </div>
    
        {% endif %}
    </div>

{% endblock %}
{% include "footer.html" %}
