{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/profile.css">
<meta content="width=device-width, initial-scale=1" name="viewport" />
{% endblock %}
{% block content %}
<div>
    {% for key, value in form.errors.items %}
        <span class="fieldWrapper">
            {{ key }}:{{ value }}
        </span>
    {% endfor %}

    {% for key, value in form_change_photo.errors.items %}
        <span class="fieldWrapper">
            {{ key }}:{{ value }}
        </span>
    {% endfor %}

    {% for key, value in form_change_password.errors.items %}
        <span class="fieldWrapper">
            {{ key }}:{{ value }}
        </span>
    {% endfor %}
</div>
<div class="contenedorPerfil">
    <form class="formularioPerfil" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="Titulo">
            <h1>Mi perfil</h1><br>
            <div class="editarFoto">         
                <h2 class="nombreUsuario">{{request.user.username}}</h2> <br> 
                <div class="fotoPerfil"> <img class="fotoPerfil" src="https://i.imgur.com/uIgDDDd.jpg" alt="img"></div>
                <div class="form-control">{{  form_change_photo.foto_usuario  }}</div>
                <div class="botones"> 
                    <button name="actualizarFoto" value="actualizarFoto" type="submit" class="ActualizarFoto">Actualizar Foto</button>
                </div>
                 
            </div>  
        </div>   
    </form>        
    <form class="formularioPerfil" method="POST" enctype="multipart/form-data">{% csrf_token %}

        <div class="editarPerfil">         
            <h4 class="">Información general</h4><br>
            <label class="form-label">Zona Piso</label>
            <div class="form-control">{{  form.zona_piso  }}</div>
        
            <label class="form-label">Lugar</label>
            <div class="form-control">{{  form.lugar  }}</div>
        
            <label class="form-label">Género</label>
            <div class="form-control">{{  form.genero  }}</div>

            <label class="form-label">Idiomas</label>
            <div class="form-control">{{  form.idiomas  }}</div>

            <label class="form-label">Piso Encontrado</label>
            <div class="form-control">{{  form.piso_encontrado  }}</div>

            <label class="form-label">Etiquetas</label>
            <div class="form-control">{{  form.tags  }}</div>

            <label class="form-label">Aficiones</label>
            <div class="form-control">{{  form.aficiones  }}</div>

            <label class="form-label">Descripción</label>
            <div class="form-control descripcion">{{  form.descripcion  }}</div>

            <div class="botones"> 
                <button name="actualizarPerfil" value="actualizarPerfil" type="submit" class="ActualizarPerfilTrue">Actualizar Perfil</button>
            </div> 
        </div>
        
    </form> 
    <form class="formularioPerfil" method="POST" enctype="multipart/form-data">{% csrf_token %}

            <div class="editarContraseña">
                <h4 class="">Cambiar contraseña</h4><br>
                    <label class="form-label">Nueva contraseña *</label>
                    <div class="form-control">{{  form_change_password.password  }}</div>
                    
                    <label class="form-label">Confirmar contraseña *</label>
                    <div class="form-control">{{  form_change_password.password2  }}</div>
                    <div class="botones"> 
                        <button name="actualizarContraseña" value="actualizarContraseña" type="submit" class="ActualizarContraseña">Cambiar contraseña</button>
                    </div> 
            </div>

    </form> 

    </div>
</div>
{% endblock %}