{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/profile.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1>Edita tu perfil</h1>
<form id="msform"  method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://i.imgur.com/uIgDDDd.jpg">
                <span class="font-weight-bold labels">{{form.foto_usuario}}</span>
                <span class="font-weight-bold">John Doe</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil personal</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nombre</label><div class="form-control">{{  form.nombre  }}</div></div>
                    <div class="col-md-6"><label class="labels">Apellidos</label><div class="form-control">{{  form.apellidos  }}</div></div>
                    <div class="col-md-6"><label class="labels">Piso Encontrado</label><div class="form-control">{{  form.piso_encontrado  }}</div></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Teléfono</label><div class="form-control">{{  form.telefono_usuario  }}</div></div>
                    <div class="col-md-12"><label class="labels">Correo electrónico</label><div class="form-control">{{  form.correo  }}</div></div>
                    <div class="col-md-12"><label class="labels">Lugar</label><div class="form-control">{{  form.lugar  }}</div></div>
                    <div class="col-md-12"><label class="labels">Nacionalidad</label><div class="form-control">{{  form.nacionalidad  }}</div></div>
                    <div class="col-md-12"><label class="labels">Zona piso</label><div class="form-control">{{  form.nacionalidad  }}</div></div>
                    <div class="col-md-12"><label class="labels">Género</label><div class="form-control">{{  form.genero  }}</div></div>
                    <div class="col-md-12"><label class="labels">Idiomas</label><div class="form-control">{{  form.idiomas  }}</div></div>
                    <div class="col-md-12"><label class="labels">Etiquetas</label><div class="form-control">{{  form.tags  }}</div></div>
                    <div class="col-md-12"><label class="labels">Aficiones</label><div class="form-control">{{  form.aficiones  }}</div></div>



                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Fecha Nacimiento</label><div class="form-control">{{  form.fecha_nacimiento  }}</div></div>
                    <div class="col-md-12"><label class="labels">Nacionalidad</label><div class="form-control">{{  form.nacionalidad  }}</div></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12"><label class="labels">Contraseña</label><div class="form-control">{{  form.password  }}</div></div>
            <div class="col-md-12"><label class="labels">Confirmar contraseña</label><div class="form-control">{{  form.password2  }}</div></div>
        </div>
    </div>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
</form>

</div>
</div>
</div>

{% endblock %}
